@model GTX.Models.GTX

<li id="@Model.Stock"
    class="btn btn-light hover-bw"
    title="Click here to see details."
    data-year="@Model.Year"
    data-stock="@Model.Stock.ToLower()"
    data-make="@Model.Make.ToLower()"
    data-model="@Model.Model.ToLower()"
    data-style="@Model.VehicleStyle.ToLower()"
    data-type="@Model.VehicleType.ToLower()">

    <a class="d-flex align-items-center btn btn-outline-light text-start" style="text-decoration: none;">
        <!-- Image Left -->
        <img src="@Model.Image" class="rounded-3 me-3" style="width: 100px; height: auto; object-fit: cover; max-height: 76px;">

        <!-- Details Right -->
        <div class="flex-grow-1 p-0">
            <h6>
                <strong>@Model.Year @Model.Make</strong>
            </h6>
            <div>
                <h8 class="fw-bold mb-1">
                    @Model.Model - @Model.VehicleStyle
                </h8>
            </div>
            <div>
                <h8 class="fw-bold mb-1">
                    <strong>Price: </strong>@Model.RetailPrice.ToString("C0")
                </h8>
            </div>
            <div>
                <h8 class="fw-bold mb-1">
                    <strong>Miles: </strong>@Model.Mileage.ToString("N0")
                </h8>
            </div>
        </div>

    </a>

</li>
