@model GTX.Models.GTX
<li id="@Model.Stock" class="card well rounded-3 p-0" title="Click here to see details."
    data-location-code="@Model.LocationCode" 
    data-story="@(Model.Story is null ? "NOSTORY" : "STORY")"
    data-images="@(Model.Image.Contains("no-image") ? "NOIMAGE" : "IMAGE")"
    data-year="@Model.Year" 
    data-stock="@Model.Stock.ToUpper()" 
    data-vin="@Model.VIN.ToUpper()" 
    data-make="@Model.Make.ToUpper()" 
    data-model="@Model.Model.ToUpper()" 
    data-style="@Model.VehicleStyle.ToUpper()"
    data-type="@Model.VehicleType.ToUpper()"
    data-color="@Model.Color.ToUpper()"
    data-color2="@Model.Color2.ToUpper()">

    <div class="card-header gradient @Model.LocationCode hand-pointer">
        <h5 class="fw-bold">
            <i class="liked bi bi-heart-fill text-danger pull-right" style="display:none "></i>
            @Model.Year
            @Model.Make
        </h5>
        <h7>@Model.Model - @Model.VehicleStyle</h7>
    </div>
    <a class="btn btn-outline-light shadow">
        <img class="card-image rounded-3" src="@Model.Image">
    </a>
    <div class="card-header gradient shadow">
        <h7 class="no-click">
            <div class="d-flex flex-wrap justify-content-between">
                <span>Yours for: @Model.RetailPrice.ToString("C0")</span>
                <span>Miles: @Model.Mileage.ToString("N0")</span>
            </div>
            <div class="d-flex flex-wrap justify-content-between">
                <span class="very-small-text copyable">@Model.VIN</span>
                <span class="very-small-text copyable">@Model.Stock</span>
            </div>
            <div class="d-flex justify-content-center">
                <a href="https://www.carfax.com/VehicleHistory/p/Report.cfx?vin=@Model.VIN" target="_blank">
                    <img width="100" src="https://static.carfax.com/global-header/imgs/logo.svg" alt="Carfax Vehicle History Report">
                </a>
            </div>
        </h7>
    </div>
</li>
