<div class="d-flex flex-row justify-content-evenly bg-white pb-2 border-bottom shadow">
    <div class="knopka p-0 col-lg-1">
        <a class="cursor-pointer hover-bw text-center" title="All inventory at GTX dealership" href="/inventory/all">
            <img class="img-fluid d-block mx-auto" width=85 src="@Url.Content("~/GTXImages/gtx.png")" alt="All GTX inventory">
            <h6>All</h6>
        </a>
    </div>
    <div class="knopka p-0 col-lg-1">
        <a class="cursor-pointer hover-bw text-center" title="All inventory at GTX dealership" href="/inventory/Cars">
            <img alt="Cars" class="img-fluid d-block mx-auto object-fit-contain" width=90 src="@Url.Content($"~/img/Category/sedan.png")">
            <h6>Cars</h6>
        </a>
    </div>
    @foreach (var item in Enum.GetValues(typeof(CommonUnit.VehicleType)).Cast<CommonUnit.VehicleType>()) {
        <div class="knopka p-0 col-lg-1">
            <a class="cursor-pointer hover-bw text-center" title="SUVs at GTX dealership" href="/inventory/@item.GetDisplayName()">
                <img alt="@item.GetDisplayName()" class="img-fluid d-block mx-auto object-fit-contain" width=90 src="@Url.Content($"~/img/Category/{item.ToString()}.png")">
                <h6>@item.GetDisplayName()</h6>
            </a>
        </div>
    }
</div>

