@model GTX.Models.Vehicle
<script src="~/Scripts/Lightbox/lc_lightbox.lite.min.js" type="text/javascript"></script>
<link href="~/Content/Lightbox/lc_lightbox.min.css" rel="stylesheet" />

<!-- SKINS -->
<link href="~/Content/Lightbox/dark.css" rel="stylesheet" />

<!-- ASSETS -->
<script src="~/Scripts/AlloyFinger/alloy_finger.min.js" type="text/javascript"></script>

<div class="modal-header">
    <h5 class="modal-title text-white" id="detailsTitle">
        @Model.VehicleDetails.Year @Model.VehicleDetails.Make - @Model.VehicleDetails.Model - @Model.VehicleDetails.VehicleStyle
    </h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body p-0">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-details-tab" data-bs-toggle="tab" data-bs-target="#nav-details" type="button" role="tab" aria-controls="nav-details" aria-selected="true">Details</button>
            @{
                if (Model.VehicleImages.Count() > 0) {
                    <button class="nav-link" id="nav-pictures-tab" data-bs-toggle="tab" data-bs-target="#nav-pictures" type="button" role="tab" aria-controls="nav-pictures" aria-selected="false">Pictures ( @Model.VehicleImages.Count())</button>
                }
            }
            <a href="https://www.carfax.com/VehicleHistory/p/Report.cfx?vin=@Model.VehicleDetails.VIN" class=" shadow rounded mt-2 pull-right" target="_blank">
                <img width="100" src="https://static.carfax.com/global-header/imgs/logo.svg" alt="Carfax Vehicle History Report">
            </a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row justify-content-center gradiant">
                @{
                    if (Model.VehicleImages.Count() > 0) {
                        <div class="col-lg-6 p-0">
                            @Html.Partial("_Carousel", Model)

                        </div>
                    }
                }
                <div class="p-3 col-lg-3">
                    <h7>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Condition:</div>
                            <div class="pull-right">Pre-owned</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Price:</div>
                            <div class="pull-right">@Model.VehicleDetails.RetailPrice.ToString("C0")</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Miles:</div>
                            <div class="pull-right">@Model.VehicleDetails.Mileage.ToString("N0")</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Engine:</div>
                            <div class="pull-right">@Model.VehicleDetails.Engine</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Body:</div>
                            <div class="pull-right">@Model.VehicleDetails.Body</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Cylinders:</div>
                            <div class="pull-right">@Model.VehicleDetails.Cylinders</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Drivetrain:</div>
                            <div class="pull-right">@Model.VehicleDetails.DriveTrain</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Transmission:</div>
                            <div class="pull-right">@Model.VehicleDetails.Transmission</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Transmission speed:</div>
                            <div class="pull-right">@Model.VehicleDetails.TransmissionSpeed.ToString("N0")</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Fuel:</div>
                            <div class="pull-right">@Model.VehicleDetails.FuelType</div>
                        </div>
                    </h7>
                </div>
                <div class="p-3 col-lg-3">
                    <h7>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Features:</div>
                            <div class="w-75">
                                @foreach (var feature in Model.VehicleDetails.Features.Split(';')) {
                                    <div class="pull-left">
                                        &bull; @feature
                                    </div>
                                }
                            </div>
                        </div>

                    </h7>
                </div>
            </div>
        </div>
        <div class="tab-pane fade content" id="nav-pictures" role="tabpanel" aria-labelledby="nav-profile-tab">
            <br />
            @foreach (string imageUrl in Model.VehicleImages) {
                <a class="elem three-d" href="@imageUrl" data-lcl-thumb="@imageUrl">
                    <span class="shadow rounded" style="background-image: url(..@imageUrl);"></span>
                </a>
            }
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-close-white shadow" data-bs-dismiss="modal">
        <i class="bi bi-x-lg"></i>
        Close
    </button>
</div>
<script type="text/javascript">
    $(document).ready(function (e) {

        // live handler
        lc_lightbox('.elem', {
            wrap_class: 'lcl_fade_oc',
            gallery: true,
            thumb_attr: 'data-lcl-thumb',

            skin: 'dark',
            radius: 4,
            padding: 0,
            border_w: 1,
        });

    });
</script>
