@model GTX.Models.BaseModel

<div class="row justify-content-center well mb-3">
    <button class="w-100 btn btn-gradient position-relative collapse-toggle"
            data-bs-toggle="collapse"
            data-bs-target="#details"
            aria-expanded="true"
            aria-controls="details">
        <div class="bg-lighter py-2 px-3 text-center hand-pointer">
            <h5 class="fw-bold text-uppercase text-white">
                <i class="bi bi-car-front mx-2"></i>Details
            </h5>
        </div>
        <span class="toggle-icons position-absolute end-0 top-50 translate-middle-y pe-3" aria-hidden="true">
            <i class="bi bi-plus-lg icon-plus"></i>
            <i class="bi bi-dash-lg icon-minus"></i>
        </span>
    </button>

    <div class="text-shadow-small show" id="details">
@*        <div class="d-flex justify-content-between px-3 mx-2 flex-wrap">
            <strong class="very-small-text copyable">@Model.CurrentVehicle.VehicleDetails.VIN</strong>
            <strong class="very-small-text copyable">@Model.CurrentVehicle.VehicleDetails.Stock</strong>
        </div>*@
        <div class="d-flex flex-wrap justify-content-center p-3 m-2 gap-4">
            <span class="btn btn-light shadow position-relative details">
                <span class="medium-small-text">@Model.CurrentVehicle.VehicleDetails.LocationCode</span>
                <span class="detail-badge position-absolute start-50 translate-middle shadow badge rounded btn-gradient-grey text-black fw-bold text-uppercase">
                    GTX
                </span>
            </span>
            <span class="btn btn-light shadow position-relative details">
                <span class="medium-small-text">@Model.CurrentVehicle.VehicleDetails.InternetPrice.ToString("C0", new System.Globalization.CultureInfo("en-US"))</span>
                <span class="detail-badge position-absolute start-50 translate-middle shadow badge rounded btn-gradient-grey text-black fw-bold text-uppercase">
                    Price
                </span>
            </span>
            <span class="btn btn-light shadow position-relative details">
                <span class="medium-small-text">@Model.CurrentVehicle.VehicleDetails.Mileage.ToString("N0")</span>
                <span class="detail-badge position-absolute start-50 translate-middle shadow badge rounded btn-gradient-grey text-black fw-bold text-uppercase">
                    Miles
                </span>
            </span>
            <span class="btn btn-light shadow position-relative details">
                <span class="medium-small-text">@Model.CurrentVehicle.VehicleDetails.Engine</span>
                <span class="detail-badge position-absolute start-50 translate-middle shadow badge rounded btn-gradient-grey text-black fw-bold text-uppercase">
                    Engine
                </span>
            </span>
            <span class="btn btn-light shadow position-relative details">
                <span class="medium-small-text">@Model.CurrentVehicle.VehicleDetails.Body</span>
                <span class="detail-badge position-absolute start-50 translate-middle shadow badge rounded btn-gradient-grey text-black fw-bold text-uppercase">
                    Body
                </span>
            </span>
            <span class="btn btn-light shadow position-relative details">
                <span class="medium-small-text">@Model.CurrentVehicle.VehicleDetails.DriveTrain</span>
                <span class="detail-badge position-absolute start-50 translate-middle shadow badge rounded btn-gradient-grey text-black fw-bold text-uppercase">
                    Drivetrain
                </span>
            </span>
            <span class="btn btn-light shadow position-relative details">
                <span class="medium-small-text">@Model.CurrentVehicle.VehicleDetails.VehicleType</span>
                <span class="detail-badge position-absolute start-50 translate-middle shadow badge rounded btn-gradient-grey text-black fw-bold text-uppercase">
                    Type
                </span>
            </span>
            <span class="btn btn-light shadow position-relative details">
                <span class="medium-small-text">@Model.CurrentVehicle.VehicleDetails.Cylinders</span>
                <span class="detail-badge position-absolute start-50 translate-middle shadow badge rounded btn-gradient-grey text-black fw-bold text-uppercase">
                    Cylinders
                </span>
            </span>
            <span class="btn btn-light shadow position-relative details">
                <span class="medium-small-text">@Model.CurrentVehicle.VehicleDetails.FuelType</span>
                <span class="detail-badge position-absolute start-50 translate-middle shadow badge rounded btn-gradient-grey text-black fw-bold text-uppercase">
                    Fuel
                </span>
            </span>
            <span class="btn btn-light shadow position-relative details">
                <span class="medium-small-text">@Model.CurrentVehicle.VehicleDetails.Transmission/@Model.CurrentVehicle.VehicleDetails.TransmissionSpeed</span>
                <span class="detail-badge position-absolute start-50 translate-middle shadow badge rounded btn-gradient-grey text-black fw-bold text-uppercase">
                    Transm.
                </span>
            </span>
            <span class="btn btn-light shadow position-relative details" style="background-color: @Model.CurrentVehicle.VehicleDetails.Color">
                <span class="medium-small-text">&emsp;</span>
                <span class="detail-badge position-absolute start-50 translate-middle shadow badge rounded btn-gradient-grey text-black fw-bold text-uppercase">
                    @Model.CurrentVehicle.VehicleDetails.Color
                </span>
            </span>
            @{
                if (!@Model.CurrentVehicle.VehicleDetails.Color2.IsEmpty()) {
                    <span class="btn btn-light shadow position-relative details" style="background-color: @Model.CurrentVehicle.VehicleDetails.Color2">
                        <span class="medium-small-text">&emsp;</span>
                        <span class="detail-badge position-absolute start-50 translate-middle shadow badge rounded btn-gradient-grey text-black fw-bold text-uppercase">
                            @Model.CurrentVehicle.VehicleDetails.Color2
                        </span>
                    </span>
                }
            }
        </div>
        @*Features*@
        <div class="show text-shadow-small rounded" id="features">
            @foreach (var feature in Model.CurrentVehicle.VehicleDetails.Features.Split(';')) {
                <span class="btn btn-outline-secondary shadow gap-2 my-1">@feature</span>
            }
        </div>
    </div>
</div>