@*Makes*@
<div class="col-lg-3 col-sm-6 p-2 well" title="Click on dropdown and type to search for Makes.">
    <small class="form-check form-switch text-dark">
        @Html.CheckBox("allMakes", true, new { @class = "form-check-input", id = "allMakes" })
        @Html.Label("AllMakes", "All makes(s)", new { @class = "form-check-label text-shadow", @for = "allMakes" })
    </small>
    <select multiple class="chosen-select shadow w-25" id="makes" tabindex="1">
   </select>
</div>

@*Models*@
<div class="col-lg-3 col-sm-6 p-2 well" title="Click on dropdown and type to search for Models.">
    <small class="form-check form-switch text-dark">
        @Html.CheckBox("allModels", true, new { @class = "form-check-input", id = "allModels", disabled = "true" })
        @Html.Label("AllModels", "All models(s)", new { @class = "form-check-label text-shadow", @for = "allModels" })
    </small>
    <select multiple class="chosen-select shadow w-25" id="models" disabled tabindex="2">
    </select>
</div>

@*Drive*@
<div class="col-lg-3 col-sm-6 p-2 well" title="Click on dropdown and type to search for Drive Trains.">
    <small class="form-check form-switch text-dark">
        @Html.CheckBox("allDrives", true, new { @class = "form-check-input", id = "allDrives", disabled = "true" })
        @Html.Label("AllDrives", "All drive train(s)", new { @class = "form-check-label text-shadow", @for = "allDrives" })
    </small>
    <select multiple class="chosen-select shadow w-25" id="drives" tabindex="3">
    </select>
</div>

@*Body*@
<div class="col-lg-3 col-sm-6 p-2 well" title="Click on dropdown and type to search for Body types.">
    <small class="form-check form-switch text-dark">
        @Html.CheckBox("allBodyTypes", true, new { @class = "form-check-input", id = "allBodyTypes", disabled = "true" })
        @Html.Label("AllBodyTypes", "All body type(s)", new { @class = "form-check-label text-shadow", @for = "allBodyTypes" })
    </small>
    <select multiple class="chosen-select shadow w-25" id="bodyTypes" tabindex="4">
    </select>
</div>

@*Cylinders*@
<div class="col-lg-3 col-sm-6 p-2 well" title="Click on dropdown and type to search for Cylinders.">
    <small class="form-check form-switch text-dark">
        @Html.CheckBox("allCylinders", true, new { @class = "form-check-input", id = "allCylinders" })
        @Html.Label("AllCylinders", "All cylinders", new { @class = "form-check-label text-shadow", @for = "allCylinders" })
    </small>
    <select multiple class="chosen-select shadow w-25" id="cylinders" tabindex="5">
    </select>
</div>

@*Transmission*@
<div class="col-lg-3 col-sm-6 p-2 well" title="Click on dropdown and type to search for Transmissions.">
    <small class="form-check form-switch text-dark">
        @Html.CheckBox("allTransmissions", true, new { @class = "form-check-input", id = "allTransmissions" })
        @Html.Label("AllTransmissions", "All transmission(s)", new { @class = "form-check-label text-shadow", @for = "allTransmissions" })
    </small>
    <select multiple class="chosen-select shadow w-25" id="transmissions" tabindex="5">
    </select>
</div>

@*Fuels*@
<div class="col-lg-3 col-sm-6 p-2 well" title="Click on dropdown and type to search for Fuel types.">
    <small class="form-check form-switch text-dark">
        @Html.CheckBox("allFuelTypes", true, new { @class = "form-check-input", id = "allFuelTypes" })
        @Html.Label("AllFuelTypes", "All Fuel types(s)", new { @class = "form-check-label text-shadow", @for = "allFuelTypes" })
    </small>
    <select multiple class="chosen-select shadow w-25" id="fuelTypes" tabindex="5">
    </select>
</div>

@*Vehicle types*@
<div class="col-lg-3 col-sm-6 p-2 well" title="Click on dropdown and type to search for Fuels.">
    <small class="form-check form-switch text-dark">
        @Html.CheckBox("allVehicleTypes", true, new { @class = "form-check-input", id = "allVehicleTypes" })
        @Html.Label("allVehicleTypes", "All vehicle types(s)", new { @class = "form-check-label text-shadow", @for = "allVehicleTypes" })
    </small>
    <select multiple class="chosen-select shadow w-25" id="vehicleTypes" tabindex="5">
    </select>
</div>

@*Price*@
<div class="col-lg-6 col-sm-6 p-2 well">
    @Html.Label("Price", "Price range", new { @class = "form-check-label text-shadow", @for = "price" })
    <div id="price" class="mx-2"></div>
    <div class="d-flex justify-content-between p-0">
        <span id="priceMin" class="form-check-label text-shadow"></span>
        <span id="priceMax" class="form-check-label text-shadow"></span>
    </div>
</div>

@*Milege*@
<div class="col-lg-6 col-sm-6 p-2 well">
    @Html.Label("Miles", "Milege", new { @class = "form-check-label text-shadow", @for = "milege" })
    <div id="milege" class="mx-2"></div>
    <div class="d-flex justify-content-between p-0">
        <span id="milegeMin" class="form-check-label text-shadow"></span>
        <span id="milegeMax" class="form-check-label text-shadow"></span>
    </div>
</div>