<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GTX Autogroup</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/scripts/modernizr")
    @Scripts.Render("~/scripts/bootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>
    @* Modal edit window *@
    <div class="modal modalEditForm" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="modalEditForm" class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__logo">
            <a href="./">
                <img src="@Url.Content("~/img/gtx-autogroup.png")" alt="www.gtxautogroup.com">
            </a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget__add">
            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
        </ul>
        <div class="offcanvas__phone__num">
            <i class="fa fa-phone"></i>
            <span>(513) 912-4574</span>
        </div>
        <div class="offcanvas__social">
            <a href="https://www.facebook.com/GTXAutoGroup"><i class="fa fa-facebook"></i></a>
            <a href="https://www.twitter.com/GTXAutoGroup"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="shadow header__top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="header__top__widget">
                            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="header__top__right">
                            <div class="header__top__phone">
                                <i class="fa fa-phone"></i>
                                <span>(513) 912-4574</span>
                            </div>
                            <div class="header__top__social">
                                <a href="https://www.facebook.com/GTXAutoGroup"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.twitter.com/GTXAutoGroup"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" well>
            <div class="well row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./">
                            <img src="@Url.Content("~/img/gtx-autogroup.png")" alt="www.gtxautogroup.com">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <ul class="main-menu">
                                <li class="text-shadow">
                                    <a href="#">Buy</a>
                                    <ul class="dropdown shadow rounded">
                                        <li>@Html.ActionLink("All", "All", "Inventory")</li>
                                        <li>@Html.ActionLink("Cars", "Cars", "Inventory")</li>
                                        <li>@Html.ActionLink("Trucks", "Trucks", "Inventory")</li>
                                        <li>@Html.ActionLink("Minivans", "Minivans", "Inventory")</li>
                                        <li>@Html.ActionLink("SUVs", "SUVs", "Inventory")</li>
                                        <li>@Html.ActionLink("Hybrids", "Hybrids", "Inventory")</li>
                                        <li>@Html.ActionLink("Electrics", "Electrics", "Inventory")</li>
                                        <li>@Html.ActionLink("Commercials", "Commercials", "Inventory")</li>
                                    </ul>
                                </li>
                                <li class="text-shadow">@Html.ActionLink("Blog", "Blog", "Home")</li>
                                <li class="text-shadow">
                                    <a href="#">About us</a>
                                    <ul class="dropdown shadow rounded">
                                        <li>@Html.ActionLink("Contact us", "Contact", "Home")</li>
                                        <li>@Html.ActionLink("Our stuff", "Staff", "Home")</li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <div class="body-content">
        @RenderBody()
    </div>
    <!-- Footer Section Begin -->
    <footer class="container-fluid set-bg" data-setbg="@Url.Content("~/img/layout-bg.jpg")">
        <div class="col-lg-7">
            <ul class="header__top__widget">
                <li>
                    <i class="fa fa-clock-o"></i>Copyright &copy; @DateTime.Now.Year
                    All rights reserved | This is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://www.gtxagroup.com" target="_blank">GTX</a>
                </li>
            </ul>
        </div>
    </footer>
    <!-- Footer Section End -->

    @Scripts.Render("~/scripts/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
