@{
    @model GTX.Models.BaseModel
    Html.RenderPartial("_PageTitle");

    var baseUrl = $"{Request.Url.Scheme}://{Request.Url.Authority}";
}
<head>
    <meta property="og:title" content="@Model.CurrentVehicle.VehicleDetails.Year @Model.CurrentVehicle.VehicleDetails.Make @Model.CurrentVehicle.VehicleDetails.Model @Model.CurrentVehicle.VehicleDetails.VehicleStyle" />
    <meta property="og:description" content="GTX Autogroup @Model.CurrentVehicle.VehicleDetails.Year @Model.CurrentVehicle.VehicleDetails.Make @Model.CurrentVehicle.VehicleDetails.Model @Model.CurrentVehicle.VehicleDetails.VehicleStyle" />
    <meta property="og:image" content="https://usedcarscincinnati.com/@Model.CurrentVehicle.VehicleDetails.Image" />
    <meta property="og:url" content="https://usedcarscincinnati.com/inventory/DetailsCard?stock=@Model.CurrentVehicle.VehicleDetails.Stock">
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="GTX Auto Group" />

    <meta name="twitter:card" content="https://usedcarscincinnati.com/@Model.CurrentVehicle.VehicleDetails.Image" />
    <meta name="twitter:title" content="@Model.CurrentVehicle.VehicleDetails.Year @Model.CurrentVehicle.VehicleDetails.Make @Model.CurrentVehicle.VehicleDetails.Model @Model.CurrentVehicle.VehicleDetails.VehicleStyle" />
    <meta name="twitter:description" content="GTX Autogroup @Model.CurrentVehicle.VehicleDetails.Year @Model.CurrentVehicle.VehicleDetails.Make @Model.CurrentVehicle.VehicleDetails.Model @Model.CurrentVehicle.VehicleDetails.VehicleStyle" />
    <meta name="twitter:image" content="https://usedcarscincinnati.com/@Model.CurrentVehicle.VehicleDetails.Image" />
    <meta name="twitter:url" content="https://usedcarscincinnati.com/inventory/DetailsCard?stock=@Model.CurrentVehicle.VehicleDetails.Stock" />


    <script src="~/Scripts/Lightbox/lc_lightbox.lite.min.js" type="text/javascript"></script>
    <link href="~/Content/Lightbox/lc_lightbox.min.css" rel="stylesheet" />

    <!-- SKINS -->
    <link href="~/Content/Lightbox/dark.css" rel="stylesheet" />

    <!-- ASSETS -->
    <script src="~/Scripts/AlloyFinger/alloy_finger.min.js" type="text/javascript"></script>
</head>
<div class="details-container d-flex flex-column flex-lg-row justify-content-center p-3 gap-5">
    <div class="col-lg-5 col-md-8 col-sm-12">
        <nav>
            <div class="nav nav-tabs  no-wrap-group" id="nav-tab" role="tablist">
                <button class="nav-item active btn btn-outline-secondary text-shadow-small" id="nav-details-tab" data-bs-toggle="tab" data-bs-target="#nav-details" type="button" role="tab" aria-controls="nav-details" aria-selected="true">Details</button>
                @{
                    if (Model.CurrentVehicle.VehicleImages.Count() > 0) {
                        <button class="nav-item btn btn-outline-secondary text-shadow-small" id="nav-pictures-tab" data-bs-toggle="tab" data-bs-target="#nav-pictures" type="button" role="tab" aria-controls="nav-pictures" aria-selected="false">Gallery ( @Model.CurrentVehicle.VehicleImages.Count())</button>
                    }
                }
                <button class="nav-item btn btn-outline-secondary text-shadow-small" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="true">Contact</button>
                <button class="nav-item btn btn-outline-secondary text-shadow-small" id="nav-location-tab" data-bs-toggle="tab" data-bs-target="#nav-location" type="button" role="tab" aria-controls="nav-location" aria-selected="true">Location</button>
                <button class="nav-item btn btn-outline-secondary text-shadow-small" id="nav-payment-tab" data-bs-toggle="tab" data-bs-target="#nav-payment" type="button" role="tab" aria-controls="nav-payment" aria-selected="true"><strong>Pay $<span id="monthlyAmount"></span>/mo</strong></button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
                <div class="row justify-content-center well">
                    @{
                        if (Model.CurrentVehicle.VehicleImages.Count() > 0) {
                            <div class="p-3 w-100">
                                <h7>@Html.Partial("_Carousel", Model.CurrentVehicle)</h7>
                            </div>
                        }
                        else {
                            <h6 class="text-uppercase p-4"><strong>No image yet</strong></h6>
                            <img class="d-block mx-auto bg-transparent" src="/GTXImages/Inventory/no-image.png" />
                        }
                    }
                </div>
                <h5>
                    <i id="like-btn" class="btn btn-light rounded shadow bi bi-heart-fill text-danger popoverable" data-bs-toggle="popover" data-bs-content="<span class='text-danger'><strong>Toggle you favorites</strong></span>" data-stock="@Model.CurrentVehicle.VehicleDetails.Stock"></i>
                    <span class="mx-1 popoverable" data-bs-toggle="popover" data-bs-content="<span class='text-danger'><strong>Click to share with facebook</strong></span>">
                        <a id="shareToFacebook" class="btn btn-light rounded shadow" data-stock="@Model.CurrentVehicle.VehicleDetails.Stock"><i class="bi bi-facebook"></i></a>
                    </span>
                    <span class="popoverable" data-bs-toggle="popover" data-bs-content="<span class='text-danger'><strong>Click to share with twitter</strong></span>">
                        <a id="shareToTwitter" class="btn btn-light rounded shadow" data-stock="@Model.CurrentVehicle.VehicleDetails.Stock"><i class="bi bi-twitter"></i></a>
                    </span>
                </h5>
                @*Story*@
                @if (@Model.CurrentVehicle.VehicleDetails.Story != null) {
                    <div class="row pt-3 mx-auto">
                        <button class="btn btn-light shadow" type="button" data-bs-toggle="collapse" data-bs-target="#story" aria-expanded="false" aria-controls="story">
                            <div class="bg-lighter py-2 px-3 text-center hand-pointer">
                                <h5 class="fw-bold text-uppercase">just know about this @Model.CurrentVehicle.VehicleDetails.Story.Title</h5>
                            </div>
                        </button>
                        <div class="collapse show pt-3 text-shadow-small well" id="story">
                            @Html.Raw(@Model.CurrentVehicle.VehicleDetails.Story.HtmlContent)
                        </div>
                    </div>
                }
            </div>
            <div class="tab-pane fade well" id="nav-pictures" role="tabpanel" aria-labelledby="nav-picture-tab">
                <div class="d-flex flex-wrap justify-content-center overflow-auto">
                    @foreach (string imageUrl in Model.CurrentVehicle.VehicleImages) {
                        <a class="elem three-d w-30" href="@imageUrl" data-lcl-thumb="@imageUrl">
                            <span class="shadow rounded" style="background-image: url(..@imageUrl);"></span>
                        </a>
                    }
                </div>
            </div>
            <div class="tab-pane fade well" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div id="contactTab" class="mx-auto w-75 mt-4">
                </div>
            </div>
            <div class="tab-pane fade well" id="nav-location" role="tabpanel" aria-labelledby="nav-location-tab">
                <div class="d-flex justify-content-evenly mt-4">
                    @{
                        GTX.Models.OpenHours[] openHours = Utility.XMLHelpers.XmlRepository.GetOpenHours();
                        if (openHours != null) {
                            foreach (var open in openHours) {
                                <span class="btn btn-outline-secondary shadow position-relative details">
                                    <span class="medium-small-text">@open.Description</span>
                                    <span class="position-absolute start-50 translate-middle shadow badge rounded bg-secondary">
                                        @open.Day
                                    </span>
                                </span>
                            }
                        }
                    }
                </div>
                <style>
                    #video {
                        display: none;
                    }
                </style>
                <iframe loading="eager"
                        allowfullscreen
                        referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps?q=9516+Prinston+Glendale+Rd,+West+Checter,+OH, 45011&output=embed"
                        class="well shadow my-3"
                        width="100%"
                        height="360">
                </iframe>
            </div>
            <div class="tab-pane fade well" id="nav-payment" role="tabpanel" aria-labelledby="nav-payment-tab">
                <div class="text-shadow-small rounded shadow" id="calculator">
                    <div class="text-center border-bottom p-3 my-auto">
                        <h6 class="text-uppercase fw-bold">@Model.CurrentVehicle.VehicleDetails.Year @Model.CurrentVehicle.VehicleDetails.Make @Model.CurrentVehicle.VehicleDetails.Model @Model.CurrentVehicle.VehicleDetails.VehicleType @Model.CurrentVehicle.VehicleDetails.VehicleStyle</h6>
                        <small class="text-shadow">Est. payment for <span id="monthTerms"></span> months at <span id="apr"></span>% APR</small>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-4 col-6">
                            <div class="mb-3 mb-md-4">
                                <label class="text-shadow">Trade In</label>
                                <input id="tradeIn" class="form-control" placeholder="Enter the trade in amount" max="1000000" required="" type="number" value="">
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="mb-3 mb-md-4">
                                <label class="text-shadow">Amount down (default 20%)</label>
                                <input id="downPayment" class="form-control" placeholder="Enter adount down" max="1000000" required="" type="number" value="@(Math.Round(Math.Ceiling(Model.CurrentVehicle.VehicleDetails.RetailPrice * 0.2 / 500) * 500))">
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="mb-3 mb-md-4">
                                <label class="text-shadow">Loan months</label>
                                <select id="month" name="term" class="form-control" onchange="calculate()">
                                    <option value="">Select...</option>
                                    <option value="36">36 months</option>
                                    <option value="48">48 months</option>
                                    <option value="60">60 months</option>
                                    <option value="72">72 months</option>
                                    <option value="75">75 months</option>
                                    <option value="84" selected>84 months</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="py-3 border-top">
                        <label class="d-flex mb-2 justify-content-center text-shadow fw-bold">Credit score</label>
                        <div class="d-flex justify-content-evenly">
                            <input type="radio" class="btn-check" name="scores" id="scoreRebuilding" value="640" autocomplete="off">
                            <label class="btn btn-light border- shadow" for="scoreRebuilding">
                                Under 640
                                <span class="font-weight-bold d-none d-md-block medium-small-text">Rebuilding</span>
                            </label>

                            <input type="radio" class="btn-check" name="scores" id="scoreFair" value="699" autocomplete="off">
                            <label class="btn btn-light shadow" for="scoreFair">
                                640 - 699
                                <span class="font-weight-bold d-none d-md-block medium-small-text">Fair</span>
                            </label>

                            <input type="radio" class="btn-check" name="scores" id="scoreVeryGood" value="749" autocomplete="off">
                            <label class="btn btn-light shadow" for="scoreVeryGood">
                                700 - 749
                                <span class="font-weight-bold d-none d-md-block medium-small-text">Very Good</span>
                            </label>

                            <input type="radio" class="btn-check" name="scores" id="scoreExcellent" value="750" autocomplete="off" checked>
                            <label class="btn btn-light shadow" for="scoreExcellent">
                                Over 750
                                <span class="font-weight-bold d-none d-md-block medium-small-text">Excellent</span>
                            </label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-secondary shadow my-3 shadow" onclick="calculate();">Calculate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-5 col-md-8 col-sm-12">
        @*Details*@
        <div class="row justify-content-center shadow mb-3 popoverable" data-bs-toggle="popover" data-bs-content="<span class='text-danger'><strong>Click to toggle open/close to see details.</strong></span>">
            <button class="btn btn-light shadow w-100" type="button" data-bs-toggle="collapse" data-bs-target="#details" aria-expanded="false" aria-controls="details">
                <div class="bg-lighter py-2 px-3 text-center hand-pointer">
                    <h5 class="fw-bold text-uppercase">Details</h5>
                </div>
            </button>
            <div class="collapse show text-shadow-small rounded well" id="details">
                <div class="d-flex justify-content-between mb-3 flex-wrap">
                    <span class="very-small-text">@Model.CurrentVehicle.VehicleDetails.VIN</span>
                    <span class="very-small-text">@Model.CurrentVehicle.VehicleDetails.LocationCode:@Model.CurrentVehicle.VehicleDetails.Stock</span>
                </div>
                <div class="d-flex flex-wrap justify-content-evenly rounded p-2 gap-5">
                    <span class="btn btn-outline-secondary shadow position-relative details">
                        <span class="medium-small-text">@Model.CurrentVehicle.VehicleDetails.RetailPrice.ToString("C0")</span>
                        <span class="position-absolute start-50 translate-middle shadow badge rounded bg-secondary">
                            Price
                        </span>
                    </span>
                    <span class="btn btn-outline-secondary shadow position-relative details">
                        <span class="medium-small-text">@Model.CurrentVehicle.VehicleDetails.Mileage.ToString("N0")</span>
                        <span class="position-absolute start-50 translate-middle shadow badge rounded bg-secondary">
                            Miles
                        </span>
                    </span>
                    <span class="btn btn-outline-secondary shadow position-relative details">
                        <span class="medium-small-text">@Model.CurrentVehicle.VehicleDetails.Engine</span>
                        <span class="position-absolute start-50 translate-middle shadow badge rounded bg-secondary">
                            Engine
                        </span>
                    </span>
                    <span class="btn btn-outline-secondary shadow position-relative details">
                        <span class="medium-small-text">@Model.CurrentVehicle.VehicleDetails.Body</span>
                        <span class="position-absolute start-50 translate-middle shadow badge rounded bg-secondary">
                            Body
                        </span>
                    </span>
                    <span class="btn btn-outline-secondary shadow position-relative details">
                        <span class="medium-small-text">@Model.CurrentVehicle.VehicleDetails.VehicleType</span>
                        <span class="position-absolute start-50 translate-middle shadow badge rounded bg-secondary">
                            Type
                        </span>
                    </span>
                    <span class="btn btn-outline-secondary shadow position-relative details">
                        <span class="medium-small-text">@Model.CurrentVehicle.VehicleDetails.Cylinders</span>
                        <span class="position-absolute start-50 translate-middle shadow badge rounded bg-secondary">
                            Cylinders
                        </span>
                    </span>
                    <span class="btn btn-outline-secondary shadow position-relative details">
                        <span class="medium-small-text">@Model.CurrentVehicle.VehicleDetails.DriveTrain</span>
                        <span class="position-absolute start-50 translate-middle shadow badge rounded bg-secondary">
                            Drivetrain
                        </span>
                    </span>
                    <span class="btn btn-outline-secondary shadow position-relative details">
                        <span class="medium-small-text">@Model.CurrentVehicle.VehicleDetails.Transmission/@Model.CurrentVehicle.VehicleDetails.TransmissionSpeed</span>
                        <span class="position-absolute start-50 translate-middle shadow badge rounded bg-secondary">
                            Transmission
                        </span>
                    </span>
                    <span class="btn btn-outline-secondary shadow position-relative details">
                        <span class="medium-small-text">@Model.CurrentVehicle.VehicleDetails.FuelType</span>
                        <span class="position-absolute start-50 translate-middle shadow badge rounded bg-secondary">
                            Fuel
                        </span>
                    </span>
                    <span class="btn btn-outline-secondary shadow position-relative details" style="background-color: @Model.CurrentVehicle.VehicleDetails.Color">
                        <span class="medium-small-text">&emsp;</span>
                        <span class="position-absolute start-50 translate-middle shadow badge rounded bg-secondary">
                            @Model.CurrentVehicle.VehicleDetails.Color
                        </span>
                    </span>
                    @{
                        if (!@Model.CurrentVehicle.VehicleDetails.Color2.IsEmpty()) {
                            <span class="btn btn-outline-secondary shadow position-relative details" style="background-color: @Model.CurrentVehicle.VehicleDetails.Color2">
                                <span class="medium-small-text">&emsp;</span>
                                <span class="position-absolute start-50 translate-middle shadow badge rounded bg-secondary">
                                    @Model.CurrentVehicle.VehicleDetails.Color2
                                </span>
                            </span>
                        }
                    }
                </div>
                <div class="d-flex justify-content-center my-4">
                    <a href="http://www.carfax.com/VehicleHistory/p/Report.cfx?partner=DVW_1&vin=@Model.CurrentVehicle.VehicleDetails.VIN" target="_blank">
                        <img src="https://static.carfax.com/global-header/imgs/logo.svg" alt="Carfax Vehicle History Report">
                    </a>
                </div>
            </div>
        </div>

        @*Features*@
        <div class="row justify-content-center well my-3 popoverable" data-bs-toggle="popover" data-bs-content="<span class='text-danger'><strong>Click to toggle open/close to see features</strong></span>">
            <button class="btn btn-light shadow w-100" type="button" data-bs-toggle="collapse" data-bs-target="#features" aria-expanded="false" aria-controls="features">
                <div class="bg-lighter py-2 px-3 text-center hand-pointer">
                    <h5 class="fw-bold text-uppercase">Features</h5>
                </div>
            </button>
            <div class="collapse text-shadow-small rounded shadow mt-2" id="features">
                @foreach (var feature in Model.CurrentVehicle.VehicleDetails.Features.Split(';')) {
                    <span class="btn btn-outline-secondary shadow gap-2 my-1">@feature</span>
                }
            </div>
        </div>

        @*Loan app*@
        <div class="row justify-content-center well my-3">
            <button class="btn btn-light shadow w-100" type="button" data-bs-toggle="collapse" data-bs-target="#application" aria-expanded="false" aria-controls="application">
                <div class="bg-lighter py-2 px-3 text-center hand-pointer popoverable" data-bs-toggle="popover" data-bs-content="<span class='text-danger'><strong>Click to toggle open/close and scroll for application</strong></span>">
                    <h5 class="fw-bold text-uppercase">Loan application</h5>
                </div>
            </button>

            <div class="collapse show text-shadow-small rounded shadow mt-2 popoverable" id="application" data-bs-toggle="popover" data-bs-content="<span class='text-danger'><strong>Scroll down for application</strong></span>">
                <iframe src="https://www.700dealer.com/QuickQualify/43783416bf5141ff8b8d1a40387ee700-20181212" width="100%" height="385px" scrolling="auto"></iframe>
            </div>
        </div>
    </div>
</div>

@*May Like*@
<div class="row mx-auto col-lg-10 col-md-8 col-sm-12">
    <button class="btn btn-light shadow" type="button" data-bs-toggle="collapse" data-bs-target="#suggestion" aria-expanded="false" aria-controls="suggestion">
        <div class="bg-lighter py-2 px-3 text-center hand-pointer">
            <h5 class="fw-bold text-uppercase">You may also like</h5>
        </div>
    </button>
    <div class="collapse show p-0" id="suggestion">
        <div class="d-flex justify-content-evenly">
            <span type="button" class="btn btn-secondary scroll-button" onclick="scrollSuggestions(-300)">
                <i class="bi bi-arrow-left-circle-fill"></i>
            </span>
            <div class="scroll-container well shadow" id="suggestionScroll">
                <div class="d-flex justify-content-evenly">
                    @foreach (var suggestion in Model.CurrentVehicle.VehicleSuggesion) {
                        <div class="card-wrapper">
                            @Html.Partial("_AdCard", suggestion)
                        </div>
                    }
                </div>
            </div>
            <span type="button" class="btn btn-secondary scroll-button" onclick="scrollSuggestions(300)">
                <i class="bi bi-arrow-right-circle-fill"></i>
            </span>
        </div>
    </div>
</div>

<script type="text/javascript">
    var stock = "@Model.CurrentVehicle.VehicleDetails.Stock";
    let startX = 0;
    let scrollLeft = 0;
    const scrollContainer = document.getElementById('suggestionScroll');

    if (scrollContainer) {
        scrollContainer.addEventListener('touchstart', (e) => {
            startX = e.touches[0].pageX - scrollContainer.offsetLeft;
            scrollLeft = scrollContainer.scrollLeft;
        });

        scrollContainer.addEventListener('touchmove', (e) => {
            e.preventDefault();  // Optional: Prevent vertical scrolling
            const x = e.touches[0].pageX - scrollContainer.offsetLeft;
            const walk = (startX - x);
            scrollContainer.scrollLeft = scrollLeft + walk;
        }, { passive: false });
    }

    $(function () {
        $("#like-btn").on("click", function () {
            var index = likedCars.indexOf(stock);
            if (index === -1) {
                likedCars.push(stock);
            } else {
                likedCars.splice(index, 1);
            }

            saveLikedCars();
            updateLiked(stock);
        });

        calculate();
        updateLiked(stock);

        lc_lightbox(".elem", {
            wrap_class: "lcl_fade_oc",
            gallery: true,
            thumb_attr: "data-lcl-thumb",
            skin: "light",
            radius: 4,
            padding: 0,
            border_w: 1
        });

        $.get(`${root}Home/ContactForm`, { "id": 0 })
            .done(function (result) {
                $("#contactTab").html(result);
                // $("#unlock").html(result);
            })
            .fail(function () {
            })
            .always(function () {
            })

        $("input[name='scores']").change(function () {
            calculate();
        });

        $(".hover-bw").on("click", function () {
            const stock = $(this).data("stock");
            if (stock) {
                window.location.href = `${root}Inventory/Details?stock=${stock}`
            }
        });

        $("#shareToFacebook").on("click", function() {
            var stock = $(this).data('stock');
            var shareUrl = "https://usedcarscincinnati.com/inventory/detailsCard?stock=@Model.CurrentVehicle.VehicleDetails.Stock";
            var facebookShareUrl = 'https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(shareUrl);
            window.open(facebookShareUrl, 'facebook-share-dialog', 'width=800,height=600');
        });

        $("#shareToTwitter").on("click", function() {
            var stock = $(this).data('stock');
            var shareUrl = "https://usedcarscincinnati.com/inventory/detailsCard?stock=@Model.CurrentVehicle.VehicleDetails.Stock";
            var tweetText = 'Check out this amazing @Model.CurrentVehicle.VehicleDetails.Year @Model.CurrentVehicle.VehicleDetails.Make @Model.CurrentVehicle.VehicleDetails.Model for sale!'
            var twitterShareUrl = 'https://twitter.com/intent/tweet?url=' + encodeURIComponent(shareUrl) + '&text=' + encodeURIComponent(tweetText);
            window.open(twitterShareUrl, 'twitter-share-dialog', 'width=800,height=400');
        });
    });

    function calculate() {
        const score = $("input[name='scores']:checked").val();
        const amount = @Model.CurrentVehicle.VehicleDetails.RetailPrice - $("#downPayment").val() - $("#tradeIn").val();
        const term = $("#month").val();

        $("#monthTerms").html(term);

        const rate = getInterestRate(score);
        $("#apr").html(rate);

        const monthly = calculateMonthlyPayment(amount, rate, term);
        $("#monthlyAmount").html(monthly.toFixed(2));
    }

    function scrollSuggestions(amount) {
        const container = document.getElementById('suggestionScroll');
        container.scrollBy({ left: amount, behavior: 'smooth' });
    }

</script>




