<script src="~/Scripts/Lightbox/lc_lightbox.lite.min.js" type="text/javascript"></script>
<link href="~/Content/Lightbox/lc_lightbox.min.css" rel="stylesheet" />

<!-- SKINS -->
<link href="~/Content/Lightbox/dark.css" rel="stylesheet" />

<!-- ASSETS -->
<script src="~/Scripts/AlloyFinger/alloy_finger.min.js" type="text/javascript"></script>
@{
    @model GTX.Models.BaseModel
    Html.RenderPartial("_PageTitle");
}

<div class="py-5" style="display: flex; justify-content: center; gap: 20px;">
    <div style="flex: 0 0 50%;" class="p-3 well shadow">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-item active btn btn-outline-secondary text-shadow-small" id="nav-details-tab" data-bs-toggle="tab" data-bs-target="#nav-details" type="button" role="tab" aria-controls="nav-details" aria-selected="true">Details</button>
                @{
                    if (Model.CurrentVehicle.VehicleImages.Count() > 0) {
                        <button class="nav-item btn btn-outline-secondary text-shadow-small" id="nav-pictures-tab" data-bs-toggle="tab" data-bs-target="#nav-pictures" type="button" role="tab" aria-controls="nav-pictures" aria-selected="false">Gallery ( @Model.CurrentVehicle.VehicleImages.Count())</button>
                    }
                }
                <button class="nav-item btn btn-outline-secondary text-shadow-small" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="true">Contact</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
                <div class="row justify-content-center well">
                    <div class="col-9">
                        @{
                            if (Model.CurrentVehicle.VehicleImages.Count() > 0) {
                                <div class="p-0">
                                    @Html.Partial("_Carousel", Model.CurrentVehicle)
                                </div>
                            }
                            else {
                                <img class="w-50 well shadow p-0" src="/GTXImages/Inventory/no-image.png" />
                            }
                        }
                    </div>
                    <div class="p-3 col-lg-3 text-shadow-small small">
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Condition:</div>
                            <div class="pull-right">Pre-owned</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Price:</div>
                            <div class="pull-right">@Model.CurrentVehicle.VehicleDetails.RetailPrice.ToString("C0")</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Miles:</div>
                            <div class="pull-right">@Model.CurrentVehicle.VehicleDetails.Mileage.ToString("N0")</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Engine:</div>
                            <div class="pull-right">@Model.CurrentVehicle.VehicleDetails.Engine</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Body:</div>
                            <div class="pull-right">@Model.CurrentVehicle.VehicleDetails.Body</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Type:</div>
                            <div class="pull-right">@Model.CurrentVehicle.VehicleDetails.VehicleType</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Cylinders:</div>
                            <div class="pull-right">@Model.CurrentVehicle.VehicleDetails.Cylinders</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Drivetrain:</div>
                            <div class="pull-right">@Model.CurrentVehicle.VehicleDetails.DriveTrain</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Transmission:</div>
                            <div class="pull-right">@Model.CurrentVehicle.VehicleDetails.Transmission</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Transmission speed:</div>
                            <div class="pull-right">@Model.CurrentVehicle.VehicleDetails.TransmissionSpeed.ToString("N0")</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Fuel:</div>
                            <div class="pull-right">@Model.CurrentVehicle.VehicleDetails.FuelType</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Color:</div>
                            <div class="pull-right">@Model.CurrentVehicle.VehicleDetails.Color</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Color 2:</div>
                            <div class="pull-right">@Model.CurrentVehicle.VehicleDetails.Color2</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">VIN:</div>
                            <div class="pull-right">@Model.CurrentVehicle.VehicleDetails.VIN</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Stock:</div>
                            <div class="pull-right">@Model.CurrentVehicle.VehicleDetails.Stock</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="col fw-bold">Weight:</div>
                            <div class="pull-right">@Model.CurrentVehicle.VehicleDetails.Weight</div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center well">
                    <button class="btn btn-light shadow w-100" type="button" data-bs-toggle="collapse" data-bs-target="#features" aria-expanded="false" aria-controls="features">
                        <div class="bg-lighter py-2 px-3 text-center hand-pointer">
                            <h7 class="text-uppercase">Features</h7>
                        </div>
                    </button>
                    <div class="collapse text-shadow-small rounded shadow mt-3 small" id="features">
                        <ul>
                            @foreach (var feature in Model.CurrentVehicle.VehicleDetails.Features.Split(';')) {
                                <li class="offset-1">@feature</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-pictures" role="tabpanel" aria-labelledby="nav-picture-tab">
                <div class="d-flex flex-wrap justify-content-center gap-1">
                    @foreach (string imageUrl in Model.CurrentVehicle.VehicleImages) {
                        <a class="elem three-d" href="@imageUrl" data-lcl-thumb="@imageUrl">
                            <span class="shadow rounded" style="background-image: url(..@imageUrl);"></span>
                        </a>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="d-flex justify-content-evenly mt-4">
                    @{
                        GTX.Models.OpenHours[] openHours = Utility.XMLHelpers.XmlRepository.GetOpenHours();
                        if (openHours != null) {
                            foreach (var open in openHours) {
                                <button type="button" class="btn btn-outline-secondary shadow position-relative">
                                    <span class="medium-small-text">@open.Description</span>
                                    <span class="position-absolute top-0 start-100 translate-middle shadow badge rounded bg-dark">
                                        @open.Day
                                    </span>
                                </button>
                            }
                        }
                    }
                </div>
                <div class="d-flex justify-content-evenly rounded p-3 gap-3">
                    <div id="contactTab" class="p-3 d-flex justify-content-center w-50">
                    </div>
                    <iframe loading="eager"
                            allowfullscreen
                            referrerpolicy="no-referrer-when-downgrade"
                            src="https://www.google.com/maps?q=9516+Prinston+Glendale+Rd,+West+Checter,+OH, 45011&output=embed"
                            class="well shadow my-3"
                            width="400"
                            height="333">
                    </iframe>
                </div>
            </div>
        </div>
    </div>

    <div style="flex: 0 0 30%;" class="p-1 well shadow">
        <button class="btn btn-light shadow w-100" type="button" data-bs-toggle="collapse" data-bs-target="#calculator" aria-expanded="false" aria-controls="calculator">
            <div class="bg-lighter py-2 px-3 text-center hand-pointer">
                <h7 class="text-uppercase">Estimated Payment</h7>
                <div class="text-lg-center">$??? / month</div>
            </div>
        </button>

        <div class="collapse rounded shadow mt-3" id="calculator">
            <div class="w-100 p-2">
                <div class="container">
                    <div class="col-md-4">
                        <label for="LoanAmount" class="form-label">Loan Amount ($)</label>
                        <input type="number" class="form-control" id="LoanAmount" placeholder="10000" required />
                    </div>
                    <div class="col-md-4">
                        <label for="TermInYears" class="form-label">Term (Years)</label>
                        <input type="number" class="form-control" id="TermInYears" placeholder="5" required />
                    </div>
                    <div class="col-md-4">
                        <label for="CreditScore" class="form-label">Credit Score</label>
                        <input type="number" class="form-control" id="CreditScore" placeholder="700" required />
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-light shadow">Calculate</button>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-light shadow w-100 my-3" type="button" data-bs-toggle="collapse" data-bs-target="#unlock" aria-expanded="false" aria-controls="unlock">
            <div class="bg-lighter py-2 px-3 text-center hand-pointer">
                <h7 class="text-uppercase">Unlock manager special</h7>
            </div>
        </button>
        <div class="collapse rounded shadow mt-3" id="unlock">
            <h7>Space holder</h7>
        </div>
    </div>
<script type="text/javascript">
    $(function (e) {
        lc_lightbox(".elem", {
            wrap_class: "lcl_fade_oc",
            gallery: true,
            thumb_attr: "data-lcl-thumb",
            skin: "light",
            radius: 4,
            padding: 0,

            border_w: 1
        });

        $.get(`${root}Home/ContactForm`, { "id": 0 })
            .done(function (result) {
                $("#contactTab").html(result);
                // $("#unlock").html(result);
            })
            .fail(function () {
            })
            .always(function () {
            })
    });
</script>




