@using Services;
@model GTX.Models.BaseModel

<style>
    #infoIcon {
        display: none;
    }

    #EZ360-left-part-container {
        height: 78.5%!important;
    }

    #EZ360-controls {
        height: 35%!important;
    }

    #EZ360-Player-Div {
        border: 0px !important;
    }

    #EZ360-Player-Container {
    }

    .img-carousel {
        width: 800px;
        height: 525px;
    }

    .row {
        --bs-gutter-x: 0rem;
    }

    .just-validate-error-label {
        margin-left: 65% !important;
    }

    @@media only screen and (max-width: 479px) {
        #nav-payment-tab {
            display: none;
        }

        h5 {
            font-size: 12px;
        }

        #btnPrev, #btnUp {
            margin-top: 90px;
        }

        #btnNext {
            margin-top: 45px;
        }
    }

    @@media only screen and (max-width: 767px) {
        .body-content {
            margin-top: 10vh;
            height: 54rem;
        }

        .details-container {
            margin-top: 0vh;
        }

        .EZ360-controls {
            display: none;
        }
    }
</style>

<head>
    <meta property="og:title" content="@Model.CurrentVehicle.VehicleDetails.Year @Model.CurrentVehicle.VehicleDetails.Make @Model.CurrentVehicle.VehicleDetails.Model @Model.CurrentVehicle.VehicleDetails.VehicleStyle" />
    <meta property="og:description" content="GTX Autogroup @Model.CurrentVehicle.VehicleDetails.Year @Model.CurrentVehicle.VehicleDetails.Make @Model.CurrentVehicle.VehicleDetails.Model @Model.CurrentVehicle.VehicleDetails.VehicleStyle" />
    <meta property="og:image" content="https://usedcarscincinnati.com/@Model.CurrentVehicle.VehicleDetails.Image" />
    <meta property="og:url" content="https://usedcarscincinnati.com/inventory/DetailsCard?stock=@Model.CurrentVehicle.VehicleDetails.Stock">
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="GTX Auto Group" />

    <script src="~/Scripts/Lightbox/lc_lightbox.lite.min.js" type="text/javascript"></script>

    <link href="~/Content/Lightbox/lc_lightbox.min.css" rel="stylesheet" />

    <!-- SKINS -->
    <link href="~/Content/Lightbox/dark.css" rel="stylesheet" />

    <!-- ASSETS -->
    <script src="~/Scripts/AlloyFinger/alloy_finger.min.js" type="text/javascript"></script>
    @if(Model.CurrentVehicle.DisplayEZ360Player && Model.IsEZ360) { 
        <script src="https://sdk.sister.tv/integrations/cvdp/live/injectEZ360PlayerScript.min.js" id="ez360-cvdp" vin="@Model.CurrentVehicle.VehicleDetails.VIN" integration_id="gtx-auto-cincinnati" page_type="VDP"></script>
    }

</head>
<!-- Modal -->
<div id="dynamicModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="header" class="modal-header shadow">
                <img src="~/GTXImages/GTX-White.png" width="60" />
                <h5 id="titleModal" class="modal-title test-shadow mx-3">
                    Contact
                </h5>
            </div>
            <div id="messageBody" class="modal-body well">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-white shadow" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i>Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Centered directly below the input -->
<div class="position-relative d-flex justify-content-center my-2 z-1">
    <h8 id="status"></h8>
</div>
<div class="details-container d-flex flex-column flex-lg-row justify-content-center gap-5">
    <div class="col-7 col-lg-7 col-md-12 col-sm-12 ">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-item active btn btn-gradient-grey border-dark text-shadow-small" id="nav-details-tab" data-bs-toggle="tab" data-bs-target="#nav-details" type="button" role="tab" aria-controls="nav-details" aria-selected="true"><i class="bi bi-car-front"></i>&nbsp; Details</button>
                @{
                    if (!(Model.CurrentVehicle.DisplayEZ360Player && Model.IsEZ360) && Model.CurrentVehicle.VehicleDetails.Images.Count() > 0)
                    {
                        <button class="nav-item btn btn-gradient-grey border-dark text-shadow-small" id="nav-pictures-tab" data-bs-toggle="tab" data-bs-target="#nav-pictures" type="button" role="tab" aria-controls="nav-pictures" aria-selected="false"><i class="bi bi-camera"></i>&nbsp; Photos ( @Model.CurrentVehicle.VehicleDetails.Images.Count())</button>
                    }
                }
                <button class="nav-item btn btn-gradient-grey border-dark text-shadow-small" id="nav-location-tab" data-bs-toggle="tab" data-bs-target="#nav-location" type="button" role="tab" aria-controls="nav-location" aria-selected="true"><i class="bi bi-geo-fill"></i>&nbsp; Location</button>
                <button class="nav-item btn btn-gradient-grey border-dark text-shadow-small d-none" id="nav-payment-tab" data-bs-toggle="tab" data-bs-target="#nav-payment" type="button" role="tab" aria-controls="nav-payment" aria-selected="true"><strong><i class="bi bi-calculator"></i>&nbsp; Pay $<span id="monthlyAmount"></span>/mo</strong></button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
                <div class="row well mb-1">
                    @{
                        if (Model.CurrentVehicle.DisplayEZ360Player && Model.IsEZ360)
                        {
                            var playerId = Model.IsDevelopment ? "EZ360-media-player" : "EZ360_CVDP";
                            <div id="@playerId"></div>
                        }
                        else
                        {
                            if (Model.CurrentVehicle.VehicleDetails.Images.Count() > 0)
                            {
                                <div class="col-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="ratio ratio-carousel overflow-hidden">
                                        @Html.Partial("_Carousel", Model.CurrentVehicle)
                                    </div>

                                </div>
                            }
                            else
                            {
                                <div class="d-flex justify-content-center text-uppercase p-5">
                                    <h6>
                                        <img class="img-fluid d-block mx-auto" width="85" src="@Url.Content("~/GTXImages/gtx.png")" alt="GTX Autogroup">
                                        <br />
                                        is still working on images
                                    </h6>
                                </div>
                            }
                        }
                    }
                </div>

                @*Dudes*@
            <div class="d-flex justify-content-center align-items-center gap-3 flex-nowrap my-2">
                @if (ViewBag.IsMajordome)
                {
                    <span class="fw-bold text-uppercase text-white" onclick="window.open('/Majordome/Inventory/@(Uri.EscapeDataString(Model.CurrentVehicle.VehicleDetails.Stock))', '_blank')">
                        <i class="btn btn-gradient-grey border-dark rounded shadow bi bi-pen mx-2"></i>
                    </span>
                }
                <span>
                    <i id="like-btn" class="btn btn-gradient-grey border-dark rounded shadow bi bi-heart-fill text-danger" data-stock="@Model.CurrentVehicle.VehicleDetails.Stock"></i>
                </span>
                <span>
                    <a id="shareToFacebook" class="btn btn-gradient-grey border-dark rounded shadow" data-stock="@Model.CurrentVehicle.VehicleDetails.Stock"><i class="bi bi-facebook"></i></a>
                </span>
                <span>
                    <a id="shareToTwitter" class="btn btn-gradient-grey border-dark rounded shadow" data-stock="@Model.CurrentVehicle.VehicleDetails.Stock"><i class="bi bi-twitter"></i></a>
                </span>
                <h5 class="fw-bold text-uppercase text-white" onclick="window.open('/Majordome/Inventory/@(Uri.EscapeDataString(Model.CurrentVehicle.VehicleDetails.Stock))', '_blank')">
            </div>


                @*Details*@
                @{
                    if (Model.CurrentVehicle.VehicleDataOneDetails == null)
                    {
                        Html.RenderPartial("_Details");
                    }
                    else
                    {
                        Html.RenderPartial("_DetailsDataOne");
                    }
                }

                @*Story*@
                @if (@Model.CurrentVehicle.VehicleDetails.Story != null)
                {
                    <div class="row justify-content-center well mb-3">
                        <button class="w-100 btn btn-gradient position-relative collapse-toggle"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#story"
                                aria-expanded="true"
                                aria-controls="story">
                            <h5 class="fw-bold text-uppercase text-white m-0 text-center py-2"><i class="bi bi-pen mx-2"></i>@Model.CurrentVehicle.VehicleDetails.Story.Title</h5>

                            <!-- right-side +/–, stays out of the flow so the H5 can center -->
                            <span class="toggle-icons position-absolute end-0 top-50 translate-middle-y pe-3" aria-hidden="true">
                                <i class="bi bi-plus-lg icon-plus"></i>
                                <i class="bi bi-dash-lg icon-minus"></i>
                            </span>
                        </button>

                        <div class="collapse show p-3 text-shadow-small well" id="story">
                            @Html.Raw(@Model.CurrentVehicle.VehicleDetails.Story.HtmlContent)
                        </div>
                    </div>
                }

                @*Stickers placeholder*@
                @*                <div class="d-flex justify-content-center align-items-center gap-2 flex-nowrap ">
            <img src="https://velocity-vdp-prod-attachments.s3.amazonaws.com/Velocity+Automotive+Solutions/WindowSticker_v2.png" alt="Velocity Window Sticker" class="" style="max-height: 100px">
        </div>*@
            </div>
            @if (!(Model.CurrentVehicle.DisplayEZ360Player && Model.IsEZ360) && Model.CurrentVehicle.VehicleDetails.Images.Count() > 0) {
                <div class="tab-pane fade well" id="nav-pictures" role="tabpanel" aria-labelledby="nav-picture-tab">
                    <div class="d-flex flex-wrap justify-content-center overflow-auto">
                        @foreach (Image image in Model.CurrentVehicle.VehicleDetails.Images)
                        {
                            string imageBig = $"{image.Source}";
                            string imagePath = $"{image.Source}?h=200";
                            if (image.Source?.StartsWith("https:", StringComparison.OrdinalIgnoreCase) == false)
                            {
                                imageBig = $"/GTXImages/Inventory/{image.Source}";
                                imagePath = $"{imageBig}?h=200";
                            }


                            <a class="elem three-d w-30" href="@imageBig" data-lcl-thumb="@imagePath">
                                <span class="shadow rounded" style="background-image: url(@imagePath);"></span>
                            </a>
                        }
                    </div>
                </div>
            }
            <div class="tab-pane fade well" id="nav-location" role="tabpanel" aria-labelledby="nav-location-tab">
                <div class="d-flex justify-content-evenly mt-4">
                    @{
                        GTX.Models.OpenHours[] openHours = Utility.XMLHelpers.XmlRepository.GetOpenHours();
                        if (openHours != null)
                        {
                            foreach (var open in openHours)
                            {
                                <span class="btn btn-outline-secondary shadow position-relative details">
                                    <span class="medium-small-text">@open.Description</span>
                                    <span class="position-absolute start-50 translate-middle shadow badge rounded bg-secondary">
                                        @open.Day
                                    </span>
                                </span>
                            }
                        }
                    }
                </div>
                <style>
                    #video {
                        display: none;
                    }
                </style>
                <iframe loading="eager"
                        allowfullscreen
                        referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps?q=9516+Prinston+Glendale+Rd,+West+Checter,+OH, 45011&output=embed"
                        class="well shadow my-3"
                        width="100%"
                        height="360">
                </iframe>
            </div>
            <div class="tab-pane fade well d-none" id="nav-payment" role="tabpanel" aria-labelledby="nav-payment-tab">
                <div class="text-shadow-small rounded shadow" id="calculator">
                    <div class="text-center border-bottom p-3 my-auto">
                        <h6 class="text-uppercase fw-bold">@Model.CurrentVehicle.VehicleDetails.Year @Model.CurrentVehicle.VehicleDetails.Make @Model.CurrentVehicle.VehicleDetails.Model @Model.CurrentVehicle.VehicleDetails.VehicleType @Model.CurrentVehicle.VehicleDetails.VehicleStyle</h6>
                        <small class="text-shadow">Est. payment for <span id="monthTerms"></span> months at <span id="apr"></span>% APR</small>
                    </div>
                    <div class="row  p-3">
                        <div class="col-md-4 col-6">
                            <div class="mb-3 mb-md-4">
                                <label class="text-shadow">Trade In</label>
                                <input id="tradeIn" class="form-control" placeholder="Enter the trade in amount" max="1000000" required="" type="number" value="">
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="mb-3 mb-md-4">
                                <label class="text-shadow">Amount down (20%)</label>
                                <input id="downPayment" class="form-control" placeholder="Enter adount down" max="1000000" required="" type="number" value="@(Math.Round(Math.Ceiling(Model.CurrentVehicle.VehicleDetails.InternetPrice * 0.2 / 500) * 500))">
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="mb-3 mb-md-4">
                                <label class="text-shadow">Loan months</label>
                                <select id="month" name="term" class="form-control" onchange="calculate()">
                                    <option value="">Select...</option>
                                    <option value="36">36 months</option>
                                    <option value="48">48 months</option>
                                    <option value="60">60 months</option>
                                    <option value="72">72 months</option>
                                    <option value="75">75 months</option>
                                    <option value="84" selected>84 months</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="py-3 border-top">
                        <label class="d-flex mb-2 justify-content-center text-shadow fw-bold">Credit score</label>
                        <div class="d-flex justify-content-evenly">
                            <input type="radio" class="btn-check" name="scores" id="scoreRebuilding" value="640" autocomplete="off">
                            <label class="btn btn-light border- shadow" for="scoreRebuilding">
                                Under 640
                                <span class="font-weight-bold d-none d-md-block medium-small-text">Rebuilding</span>
                            </label>

                            <input type="radio" class="btn-check" name="scores" id="scoreFair" value="699" autocomplete="off">
                            <label class="btn btn-light shadow" for="scoreFair">
                                640 - 699
                                <span class="font-weight-bold d-none d-md-block medium-small-text">Fair</span>
                            </label>

                            <input type="radio" class="btn-check" name="scores" id="scoreVeryGood" value="749" autocomplete="off">
                            <label class="btn btn-light shadow" for="scoreVeryGood">
                                700 - 749
                                <span class="font-weight-bold d-none d-md-block medium-small-text">Very Good</span>
                            </label>

                            <input type="radio" class="btn-check" name="scores" id="scoreExcellent" value="750" autocomplete="off" checked>
                            <label class="btn btn-light shadow" for="scoreExcellent">
                                Over 750
                                <span class="font-weight-bold d-none d-md-block medium-small-text">Excellent</span>
                            </label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-gradient-grey border-dark rounded-4 my-3 shadow" onclick="calculate();"><i class="bi bi-calculator mx-2"></i>Calculate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 col-lg-3 col-md-12 col-sm-12">
        @*Carfax*@
        <a class="w-100 btn btn-gradient mb-3"
           type="button"
           id="btnCarfax"
           href="http://www.carfax.com/VehicleHistory/p/Report.cfx?partner=DVW_1&vin=@Model.CurrentVehicle.VehicleDetails.VIN" target="_blank">
            <h5 class="fw-bold text-uppercase text-white m-0 text-center py-2">
                <img src="https://static.carfax.com/global-header/imgs/logo.svg" alt="Carfax Vehicle History Report">
            </h5>
        </a>

        @*Test drive*@
        <button class="w-100 btn btn-gradient-yellow mb-3"
                type="button"
                id="btnTestDriveForm"
                data-url="Inventory/TestDriveModal/"
                data-title="Schedule test drive">

            <h5 class="fw-bold text-uppercase text-white m-0 text-center py-2">
                <i class="bi bi-calendar3 mx-2"></i>Schedule test drive
            </h5>
        </button>

        @*Contact us*@
        <button class="w-100 btn btn-gradient mb-3"
                type="button"
                id="btnContactForm"
                data-url="Inventory/ContactModal/"
                data-title="Contact us">

            <h5 class="fw-bold text-uppercase text-white m-0 text-center py-2">
                <i class="bi bi-person-vcard mx-2"></i>Contact us
            </h5>
        </button>

        @*Loan app*@
        <button class="w-100 btn btn-gradient-green mb-3"
                type="button"
                id="btnLoanApplication"
                data-url="Inventory/ApplicationModal"
                data-title="Get prequalified">

            <h5 class="fw-bold text-uppercase text-white m-0 text-center py-2">
                <i class="bi bi-currency-dollar mx-2"></i>Get prequalified
            </h5>
        </button>
    </div>
</div>
@*May Like*@
<div class="row mx-auto col-lg-11 col-md-12 col-sm-12 mb-5">
    <button class="w-100 btn btn-gradient position-relative collapse-toggle"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#suggestion"
            aria-expanded="true"
            aria-controls="suggestion">
        <h5 class="fw-bold text-uppercase text-white m-0 text-center py-2">
            <i class="bi bi-hand-thumbs-up mx-2"></i>You may also like
        </h5>

        <!-- right-side +/–, stays out of the flow so the H5 can center -->
        <span class="toggle-icons position-absolute end-0 top-50 translate-middle-y pe-3" aria-hidden="true">
            <i class="bi bi-plus-lg icon-plus"></i>
            <i class="bi bi-dash-lg icon-minus"></i>
        </span>
    </button>
    <div class="collapse show p-0" id="suggestion">
        <div class="d-flex justify-content-evenly">
            <button class="btn btn-gradient-grey scroll-button bi bi-arrow-left-circle" onclick="scrollSuggestions(-300)"></button>
            <div class="scroll-container well shadow" id="suggestionScroll">
                <div class="d-flex justify-content-evenly">
                    @foreach (var suggestion in Model.CurrentVehicle.VehicleSuggesion) {
                        <div class="card-wrapper">
                            @Html.Partial("_AdCard", suggestion)
                        </div>
                    }
                </div>
            </div>
            <button class="btn btn-gradient-grey scroll-button bi bi-arrow-right-circle" onclick="scrollSuggestions(300)"></button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#shorts").removeClass("d-xl-flex d-md-flex d-sm-flex"); // removing it hides the shortcuts
    $("#btnPrev, #btnNext, #btnUp").removeClass("d-none");

    var stock = "@Model.CurrentVehicle.VehicleDetails.Stock";
    var make = "@Model.CurrentVehicle.VehicleDetails.Make.Replace(' ', '-')";
    var vehicle = "@ViewBag.Title";
    var makeImg = `/GTXImages/makes/${make}.png`;
    var title = `
            <img src="${makeImg}" alt="${make} logo" class="make img-fluid gradient mx-3 rounded-5 px-2 shadow" style="height: 30px;">@ViewBag.Title</image>
            <button class="make mx-3 btn btn-gradient-grey border-black shadow rounded-4 text-danger"><strong>@ViewBag.Price</strong></button>
    `;

    let startX = 0;
    let scrollLeft = 0;
    const scrollContainer = document.getElementById('suggestionScroll');
    const request = `Subject: Test Drive Request — ${vehicle}\n\nDear GTX Crew!\nI have an unbearable interest in test driving this ${vehicle} [${stock}].`;
    const schedule = `I will be extremely happy to schedule the test drive for:`;

    $(function () {
        setNavigationButtons();
        $(".fancy").html(title);

        updateLastCars(stock);

        $("#btnLoanApplication, #btnTestDriveForm, #btnContactForm").on("click", function () {
            var url = `${$(this).data("url")}`;
            var title = `${$(this).data("title")}`;

            $.get(`${root}${url}`)
                .done(function (result) {
                    $("#messageBody").html(result);
                    $("#titleModal").html(`${title}`);
                    $("#dynamicModal").modal("show");
                })
                .fail(function () {
                })
                .always(function () {
            })
        });

        $("#Comment").val(request);

        $("#like-btn").on("click", function () {
            var index = likedCars.indexOf(stock);
            if (index === -1) {
                likedCars.push(stock);
            } else {
                likedCars.splice(index, 1);
            }

            saveLikedCars();
            updateLiked(stock);
        });

        calculate();
        updateLiked(stock);

        lc_lightbox(".elem", {
            wrap_class: "lcl_fade_oc",
            gallery: true,
            thumb_attr: "data-lcl-thumb",
            skin: "light",
            radius: 4,
            padding: 0,
            border_w: 1
        });

        $("input[name='scores']").change(function () {
            calculate();
        });

        $(".hover-bw").on("click", function () {
            const stock = $(this).data("stock");
            if (stock) {
                window.location.href = `${root}Inventory/Details?stock=${stock}`
            }
        });

        $("#shareToFacebook").on("click", function() {
            var shareUrl = "https://usedcarscincinnati.com/inventory/detailsCard?stock=@Model.CurrentVehicle.VehicleDetails.Stock";
            var facebookShareUrl = 'https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(shareUrl);
            window.open(facebookShareUrl, 'facebook-share-dialog', 'width=800,height=600');
        });

        $("#shareToTwitter").on("click", function() {
            var shareUrl = "https://usedcarscincinnati.com/inventory/detailsCard?stock=@Model.CurrentVehicle.VehicleDetails.Stock";
            var tweetText = 'Check out this amazing @Model.CurrentVehicle.VehicleDetails.Year @Model.CurrentVehicle.VehicleDetails.Make @Model.CurrentVehicle.VehicleDetails.Model for sale!'
            var twitterShareUrl = 'https://twitter.com/intent/tweet?url=' + encodeURIComponent(shareUrl) + '&text=' + encodeURIComponent(tweetText);
            window.open(twitterShareUrl, 'twitter-share-dialog', 'width=800,height=400');
        });

        $(document).on("input change", "#PreferredDate", function (e) {
            const time = $("#PreferredTime").val();
            const defaultText = `📅 ${$(this).val()} 🕒 ${time}`;

            $("#Comment").val(`${request}\n${schedule}\n${defaultText}`);
        });

        $(document).on("change", "#PreferredTime", function (e) {
            e.stopPropagation();
            const date = $("#PreferredDate").val();
            const defaultText = `📅 ${date} 🕒 ${$(this).val()}`;

            $("#Comment").val(`${request}\n${schedule}\n${defaultText}`);
        });

    });

    function calculate() {
        const score = $("input[name='scores']:checked").val();
        const amount = @Model.CurrentVehicle.VehicleDetails.InternetPrice - $("#downPayment").val() - $("#tradeIn").val();
        const term = $("#month").val();

        $("#monthTerms").html(term);

        const rate = getInterestRate(score);
        $("#apr").html(rate);

        const monthly = calculateMonthlyPayment(amount, rate, term);
        $("#monthlyAmount").html(monthly.toFixed(2));
    }

    function scrollSuggestions(amount) {
        const container = document.getElementById('suggestionScroll');
        container.scrollBy({ left: amount, behavior: 'smooth' });
    }

    function updateLastCars(stock) {
        if (!isCarLast(stock)) {
            lastCars.unshift(stock);
            if (lastCars.length > 10) {
                lastCars.pop();     // remove last element if too long
            }

            saveLastCars();
        }
    }

    function setNavigationButtons() {
        const savedStocks = JSON.parse(localStorage.getItem("matchedStocks") || "[]");
        if (savedStocks.length === 0) {
            $("#btnPrev, #btnNext, #status").hide();
        }

        // Find its index
        const index = savedStocks.indexOf(stock);
        if (index !== -1) {
            const prevStock = index > 0 ? savedStocks[index - 1] : null;
            if (prevStock === null) {
                $("#btnPrev").hide();
            }
            else {
                $("#btnPrev").attr("href", `/Inventory/Details?stock=${prevStock}`);
            }

            const nextStock = index < savedStocks.length - 1 ? savedStocks[index + 1] : null;
            if (nextStock === null) {
                $("#btnNext").hide();
            }
            else {
                $("#btnNext").attr("href", `/Inventory/Details?stock=${nextStock}`);
            }

            $("#status").html(`<strong class="text-danger">#${index + 1}</strong> from <strong class="text-danger">${savedStocks.length}</strong> vehicles`)
        }
    }
</script>




