<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L828PN8ET1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-L828PN8ET1');
    </script>
</head>
<style>
    .body-content {
        margin-top: 10rem;
        height: 70rem;
    }

    .slogan-container {
        position: absolute;
        top: 3rem;
        height: 9rem;
        width: 100%;
        z-index: 10;
    }

    @@media only screen and (max-width: 500px) {
        #GTX-image img {
            width: 170px;
            margin-left: 10%;
            margin-top: 1%;
        }

        .slogan-container {
            top: 0rem;
            height: 5rem;
        }
    }

    @@media only screen and (min-width: 501px) and (max-width: 991px) {
        #GTX-image img {
            width: 255px;
            margin-left: 0;
            margin-top: 1%;
        }

        .slogan-container {
            top: 3rem;
            height: 5rem;
        }

        #homeSearch {
            width: 75% !important;
        }
    }
</style>
@{
    @model GTX.Models.BaseModel
    var hasAnnouncements = Model.Announcements?.Count() > 0;
    var displayMode = hasAnnouncements ? Model.Announcements[0].DisplayMode : GTX.Models.DisplayMode.Popup;
    var announcementId = hasAnnouncements ? Model.Announcements[0].Id : 0;
}
<section class="hero">
    <video class="video-background-video" autoplay muted loop playsinline webkit-playsinline preload="auto">
        <source src="~/GTXImages/video/GTX.MP4" type="video/mp4" />
    </video>

    <div class="slogan-container btn-gradient-grey">
        <div id="GTX-image">
            <a href="~/Inventory/All" target="_self"><img src="~/GTXImages/gtx-autogroup.png" width="600" /></a>
        </div>
        <div class="slogan-big end-0 mx-lg-5 d-none d-xxl-flex ">Your car, your style, your way</div>

        <div class="slogan-small position-absolute">Top rated dealer in Cincinnati</div>
    </div>

    <div id="homeSearch" class="position-absolute w-25 top-50 start-50 translate-middle">
        <a class="fake-input hand-pointer my-5" data-bs-toggle="modal" data-bs-target="#filtersModal">
            <div class="input-group no-wrap-group">
                <input type="search" class="term form-control no-click rounded-start-4 rounded-end-4 border-start-0 shadow"
                       aria-label="Search inventory" aria-describedby="addon-wrapping" title="Searching inventory"
                       style="height:55px" />
            </div>
        </a>
    </div>

    <div class="d-flex justify-content-center align-items-center w-100">
        <div class="btn-container d-flex justify-content-center align-items-center gap-xxl-5 w-100 flex-nowrap">
            <a href="/Home/Application" class="btn btn-big-gradient-green shadow" type="button"><span class="bi bi-currency-dollar" /><span class="mx-3">@I18n.R("Nav_GetPrequalified")</span></a>
            <a href="@Url.RouteUrl("Default", new { controller = "Home", action = "Contact" })" class="btn btn-big-gradient shadow" type="button"><span class="bi bi-person-vcard" /><span class="mx-3">@I18n.R("Nav_ContactUs")</span></a>
            <a href="@Url.RouteUrl("TestDriveContact")" class="btn btn-big-gradient-yellow shadow" type="button"><span class="bi bi-calendar3" /><span class="mx-3">@I18n.R("Nav_ScheduleTestDrive")</span></a>
        </div>
    </div>
</section>


<script>

    $(function () {
        $("#fakeSearch").css("visibility", "hidden");
        $("#GTX-image").removeClass("d-md-inline-block");

        var hasAnnouncements = @((hasAnnouncements).ToString().ToLower());
        var displayMode = "@displayMode";
        var id = @announcementId;

        if (!hasAnnouncements) return;

        if (displayMode === "Popup") {
            previewAnnouncementPopup(id);
        } else if (displayMode === "BannerTop") {
            previewAnnouncementBanner(id);
        }
    });
</script>
