@model GTX.Models.BaseModel

<div class="toast align-items-center position-absolute p-2" role="alert" aria-live="assertive" aria-atomic="true">
    <a data-bs-toggle="modal">
        <div class="d-flex">
            <div class="toast-body">
                <i class="bi bi-search"></i>
                Click on image to invoke a search dialog.
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </a>
</div>

<!-- Hero Section Begin -->
<a data-bs-toggle="modal" data-bs-target="#filtersModal" title="Click to invoke search dialog">
    <section class="hero set-bg bw" data-setbg="@Url.Content("~/img/hero/2.png")">
    </section>
</a>

<div class="bg-white">
    <marquee behavior="scroll" class="mt-2" scrollamount=10>
        <h3>
            <span style="margin-right: 100px;"><img src="@Url.Content("https://static.overfuel.com/images/icons/cartypes/suv.webp")" /></span>
            <span style="margin-right: 100px;">Cincinnati Drives GTX. Your Road Begins Here.</span>
            <span style="margin-right: 100px;"><img src="@Url.Content("https://static.overfuel.com/images/icons/cartypes/sedan.webp")" /></span>
            <span style="margin-right: 100px;">GTX Autogroup — Where Used Feels New.</span>
            <span style="margin-right: 100px;"><img src="@Url.Content("https://static.overfuel.com/images/icons/cartypes/truck.webp")" /></span>
            <span style="margin-right: 100px;">Driven by Value. Backed by Trust.</span>
            <span style="margin-right: 100px;"><img src="@Url.Content("https://static.overfuel.com/images/icons/cartypes/van.webp")" /></span>
            <span style="margin-right: 100px;">Your Hometown Dealership with Big-Time Deals.</span>
        </h3>
    </marquee>
</div>

<!-- Hero Section End -->
<script>
    $(function () {
        const toast = new bootstrap.Toast($(".toast"), {
            delay: 5000
        });
        toast.show();

        const backgrounds = [
            'url("../img/hero/2.png")',
            'url("../img/hero/3.png")',
            'url("../img/hero/cin1.jpg")',
            'url("../img/hero/cin5.jpg")',
            'url("../img/hero/cin6.png")'
        ];

        let bgIndex = 0;
        setInterval(() => {
            toast.show()
            $(".hero").css("background-image", backgrounds[bgIndex]);
            bgIndex = (bgIndex + 1) % backgrounds.length;
        }, 10000); // 10 seconds
    });
</script>
