@model GTX.Models.BaseModel
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L828PN8ET1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-L828PN8ET1');
    </script>
</head>
<style>
    .just-validate-error-label {
        margin-left: 65% !important;
    }

    .card:hover {
        transform: none;
    }
</style>
<!-- Modal -->
<div id="message" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="header" class="modal-header shadow">
                <img src="~/GTXImages/GTX-White.png" width="60" />
                <h5 id="titleModal" class="modal-title test-shadow mx-3">Contact</h5>
            </div>
            <div id="messageBody" class="modal-body well">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-white shadow" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i>Close</button>
            </div>
        </div>
    </div>
</div>

<section class="container-fluid py-4">
    <ul class="row g-4 justify-content-center list-unstyled">
        @foreach (var employer in Model.Employers) {
            <li class="col-auto">
                <article class="card shadow text-center">
                    <img class="card-img-top rounded-2" src="@Url.Content($"{employer.PhotoPath}")" alt="@employer.FirstName @employer.LastName">
                    <div class="card-body gradient">
                        <h5 class="card-title">@employer.FirstName @employer.LastName</h5>
                        <div class="card-subtitle text-muted">@employer.Position</div>
                        <button class="btn btn-gradient-grey border-dark shadow rounded-5 mt-2 w-75"
                                data-name="@employer.FirstName @employer.LastName"
                                onclick="showContactForm(this, @employer.Id)">
                            <i class="bi bi-send"></i> Sent
                        </button>
                    </div>
                </article>
            </li>
        }
    </ul>
</section>

<script type="text/javascript">
    $(function () {
    })

    function showContactForm(obj, id) {
        var name = `${$(obj).data("name")}`;
        $.get(`${root}Home/ContactForm`, { "id": id })
            .done(function (result) {
                $("#messageBody").html(result);
                $("#titleModal").html(`Contact ${name}`);
                $("#message").modal("show");
            })
            .fail(function () {
            })
            .always(function () {
            })
    }
</script>
