@model GTX.Models.BaseModel
@{
    Html.RenderPartial("_PageTitle");
}
<!-- Modal -->
<div id="message" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="header" class="modal-header shadow">
                <h5 id="title" class="modal-title test-shadow">Contact</h5>
                <button type="button" class="btn-close-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="messageBody" class="modal-body well">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-white shadow" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i>Close</button>
            </div>
        </div>
    </div>
</div>

<section class="container-fluid d-flex justify-content-center">
    <div class="row col-lg-8 p-3">
        @foreach (var employer in Model.Employers) {
            <div class="card well shadow">
                <div class="team__item">
                    <div class="team__item__pic">
                        <img class="rounded-2 shadow" src="@Url.Content($"~/GTXImages/staff/{employer.id}.jpg")" alt="...">
                    </div>
                    <div class="team__item__text">
                        <h5>@employer.Name</h5>
                        <div>@employer.Position</div>
                        <button class="btn btn-secondary shadow mt-2"
                                data-name="@employer.Name"
                                data-email="@employer.Email"
                                onClick="showEmail(this,  @employer.id)">
                            Contact
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<script type="text/javascript">
    $(function () {
    })

    function showEmail(obj, id) {
        var name = `${$(obj).data("name")}`;
        var email = $(obj).data("email");
        $.get(`${root}Home/ContactForm`, { "id": id })
            .done(function (result) {
                $("#messageBody").html(result);
                $("#title").html(`Contact ${name}`);
                $("#message").modal("show");
            })
            .fail(function () {
            })
            .always(function () {
            })
    }
</script>
